.home-container {
   margin: 0;
   width: 100%;
   height: 1155.0058px;
   background-image: url("/public/bg.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.home-container div ul li {
   font-size: 2em;
}

.game-about-container {
   margin: 0;
   width: 100%;
   height: calc(2 * 1155.0058px);
   background-image: url("/public/bg-4.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.leaderboard-container {
   margin: 0;
   width: 100%;
   height: 1155.0058px;
   background-image: url("/public/bg-5.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

/* .gamepage-container {
   position: relative;
   z-index: 1;
   width: 100%;
   height: 1155.0058px;
   margin: 0;
   background-image: url("/public/bg-2.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.aboutpage-container {
   padding-left: 10em;
   position: absolute;
   z-index: 2;
   left: 0;
   top:2200px;
   margin: 0;
   width: 100%;
   height: 1155.0058px;
   margin: 0;
   background-image: url("/public/bg-3.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
} */
